body{
	margin: 0;
	/*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";*/
  font-family: Poppins,Arial,Helvetica,sans-serif;
  background: #ffffff; 
}
label{ 
    line-height:1.2em;
    position: relative;
    left: 10%;
    width: 80%;
    text-align: center; 
    font-weight: bold;
    text-transform: inherit;  
    letter-spacing: 0px;
    word-spacing: 0px;
}  
.padre_barra{
  position: relative;
  width: 100%;
  height: auto;
  left: 0%;
  top: 0%;
  background: #202e31;
}
.p_b_redes_s_otros{
  position: relative;
  left: 10%;
  width: 80.5%;
  display: flex;
  height: 100%;
}
.p_b_redes_s_otros div{
  position: relative;
  color: #fff;
}
.pb_redes_sociales{
  left: 0%;
  position: relative;
  display: flex;
}
.pb_redes_sociales a{
	position: relative;
    text-decoration: none;
    color: #fff;
    left: 0px;
    padding: 6px 3px;
    opacity: .8;
    top: 1px;
}
.pb_redes_sociales span{
	position: relative;
}
.pb_redes_sociales a:hover ,.pb_otros a:hover{
	color: #fff;
	opacity:1;
}
.pb_redes_sociales p{
  position: relative;
  font-weight: bold;
  font-size: 12px;
  margin: 0;
  left: 5px;
  top: 9px;
  opacity: .8;
}
#pb_otros{
  position: absolute;
  right: 0%;
  display: flex;
}
.pb_otros a{
	text-decoration: none;
	color: #fff;
	opacity: .8;
}
.pb_otros p{
  top: 1px;
  position: relative;
  margin: 0;
  right: 0px;
  padding: 8px 8px;
  font-size: 12px;
}
/*--------------------------------------------------------------------------------CABESERA---------------------------------------------*/
.padre_cabesera{
	position: relative;
    left: 0%;
    top: auto;
    width: 100%;
    height: 6.5em;
    background: #fff;
    z-index: 100;
}
.div_p_c{
  position: relative;
  left: 10%;
  width: 80%;
  height: 100%;
  display: flex;
}
.padre_logo{
	position: relative;
	left: 0%;
	width: 20%;
}
.padre_logo img{
    width: 55%;
    position: absolute;
    left: 0%;
    top: 6%;
    height: 83%;
}
.padre_menu{
  padding-top: 4%;
	position: relative;
	width: 70%;
}
.padre_menu a{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    top: 0%;
    left: 0%;
    padding: 0px 12px;
    color: #202e31a1;
    position: relative;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600 !important;
}
.padre_menu a:hover{
	color:#fdc236;
	transition:  color 1s;
}
.padre_llamar{
  padding-top: 2.4%;
	position: relative;
  	width: 20%;
}
.padre_llamar div{
	right: 0%;
	position: absolute;
  display: flex;
  width: 70%;

}
.padre_llamar a{
	border: 1px solid #cacfd27d;
    width: 100%;
    border-radius: 50px;
    padding: 3px 5px;
    display: flex;
    text-align: center;
    position: relative;
    text-decoration: none;
  
}
.padre_llamar span{
    top: 6px;
    left: 15%;
    color: #07bc4c;
    font-size: 28px;
    position: relative;
}
.a_wspp p{
	  left: 13%;
    padding: 0px 10px;
    width: auto;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    color: #202e31a1;
}
.padre_llamar a:hover{
    border: 1px solid #07bc4c;
    border-right: none;
    transition: border 1s;
}
/*------------------------------------------menu_responsive------------*/
.padre_menu_cabe_responsive{
  position: fixed;
  top: 0%;
  width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
}
#menu_cabe_responsive{
    background: #fff;
    position: relative;
    top: 0%;
    left: 0%;
    width: 75%;
    height: 100%;
    font-family: sans-serif;
     z-index: 1001;
}
.menu_salir_responsive{
  background: #1d1d2394;
  position: relative;
  width: 25%;
    height: 100%;
    z-index: 1001;
}
.menu_a_responsive{
  position: relative;
    top: 10%;
    left: 8%;
    width: 80%;
}
.menu_a_responsive a{
  position: relative;
  text-decoration: none;
    color:#202e31e6;
    font-size: 17PX;
    font-weight: bold;
    top: 4%;
    text-shadow: 0px 0.3px 0px black;
    cursor: pointer;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}
.menu_a_responsive div{
  border-bottom: 1px solid #1d292c3d;
    padding: 4%;
    position: relative;
}
.padre_logo_responsive{
  position: relative;
  left: 5%;
  width: 90%;
  padding: 10px 0px;
  border-bottom: 1px solid #e0e0e0;
  display: none;
}
.padre_logo_responsive div{
  position: relative;
  display: flex;
}
.padre_logo_responsive section{
  position: relative;
  height: 5em;
  width: 30%;
  left: 8%;
}
.padre_logo_responsive img{
  position: relative;
  height: 100%;
  width: 100%;
}
.padre_logo_responsive h2{
    padding: 15px 0px;
    left: 7%;
    width: 95%;
    position: relative;
    text-transform: uppercase;
    top: 5px;
    color: #202e31;
    letter-spacing: -1px;
    word-spacing: 2px;
    font-family: sans-serif;
    margin: 0px;
    font-weight: 800;
    font-size: 15px;
}
.padre_responsive{
  position: relative;
  left: 10%;
  width: 80%;
  height: 100%;
  display: none;
}
.padre_responsive div{
 
}
.padre_menu_r{
   position: relative;
    width: 20%;
}
.padre_menu_r a{
    top: 35%;
    padding: 18px 24px;
    position: relative;
    color: #202e31e6;
    font-size: 30px;
    background: #fff;
    text-decoration: none;
    border-radius: 2px;
}
.padre_llamar_r{
  padding-top: 3%;
  position: relative;
  width: 80%;
}
.padre_llamar_r div{
  right: 5%;
  position: absolute;
  display: flex;

}
.padre_llamar_r a{
    border: 1px solid #cacfd27d;
    width: 8em;
    height: 55px;
    border-radius: 50px;
    display: flex;
    text-align: center;
    position: relative;
    text-decoration: none;
  
}
.padre_llamar_r span{
    top: 12px;
    left: 15%;
    color: #07bc4c;
    font-size: 28px;
    position: relative;
}
.padre_llamar_r p{
    top: 8px;
    left: 13%;
    padding: 0px 10px;
    width: auto;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    color: #202e31a1;
}
.padre_llamar_r a:hover{
    border: 1px solid #07bc4c;
    border-right: none;
    transition: border 1s;
}
/*----------------------------------------------------------INICIO-----------------------------------------------------------*/


/*-----------------------------------------slider--------------------------------------*/
.padre_slider{
  top: 0em;
  position: relative;
  width: 100%;
  height: 33em;
  background: #202e31;
  margin: auto;
  overflow: hidden;
}
.s_fraces{
	position: absolute;
	left: 0%;
	width: auto;
	height: auto;
	top: 0%;
  color: #fff;
  margin: 13% 6%;
  z-index: 10;
}
.padre_slider span{
    position: absolute;
    top: 0%;
    font-family: monospace;
    z-index: -1;
    margin: 14% 0%;
    border-radius: 2px;
    font-size: 30px;
    padding: 50px 10px;
    color: #202e3100;
    background: #202e3100;
    cursor: pointer;
}
#btn-next{
  right: 0;
}
.padre_slider:hover span{
  z-index:10;
  color: #fff;
  background: #ffffff2e;
  transition: all 1s;
}
.s_fraces h1{
	margin: 1% 0%;
	text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
	visibility: inherit;
	font-size: 50px;
}
.s_fraces h6{
	margin: 0;
	left: 2%;
	position: relative;
	text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
	visibility: inherit;
	font-size: 20px;
}
.s_fraces a{
	 margin: 0;
	 left: 2%;
	 position: relative;
    border-radius: 4px;
    padding: 17px 40px;
    color: #fff;
    box-shadow: 1px 1px 1px 1px #fff;
    background: #c0392b;
    text-decoration: none;
    cursor: pointer;
 }
.slider{
  display: flex;
  position: relative;
  padding: 0%;
  margin: 0;
  height: 100%;
  width: 400%;
}
.padre_slider li{
  position: relative;
  width: 100%;
  list-style: none;
  display: flex;
}
.padre_slider img{
	top: 0em;
	position: relative;
 	opacity: 0.8;
  width: 100%;
  height: 130%;
  animation: cambio 10s infinite alternate;
  animation-timing-function: ease-in;
}
@keyframes cambio{
  
0% { -webkit-transform:translateY(-3em);}
 
50% { -webkit-transform:translateY(0em);}

100% { -webkit-transform:translateY(-3em);}

}

/*--------------------------------------ACCESO RAPIDO--------------------------------------------------------------------*/
.padre_acesos_r{
	margin: 0% 10%;
	position: relative;
	/*box-shadow: 0px 0px 20px 1px #0000002b;*/
}
.padre_acesos_r h2{
     position: relative;
    text-transform: uppercase;
    padding: 15px 0px;
    top: 0%;
    color: #202e31;
    left: 0%;
    width: 100%;
    letter-spacing: -1px;
    word-spacing: 2px;
    font-family: sans-serif;
    margin: 0px;
    font-weight: 800;
    font-size: 23px;
    border-bottom: 1px solid #e0e0e0;
}
.theme_color{
    color:#fdc236;
}
.div_acesos_r{
  position: relative;
  display: flex;
}
.div_acesos_r a{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  border-radius: 2px;
  left: 6%;
  height: 10em;
  margin: 0% 1%;
  text-align: center;
  position: relative;
  width: 20%;
  text-decoration: none;
  color: #202e31;
  transition: all 0.3s ease-out;
}
.div_acesos_r span{
    top: 12%;
    left: 31%;
    cursor: pointer;
    position: absolute;
    font-size: 80px;
    margin: 0;
}
.div_acesos_r label{
    position: relative;
    cursor: pointer;
    text-align: center;
    top: 65%;
    left: 0%;
    width: 100%;
    font-weight: bold;
    font-size: 17px;
}

.div_acesos_r a:after {
    content: '';
    position: absolute;
    height: 1px;
    top: 100%;
    width: 0px;
    left: 0px;
    background: #202e31;
    transition: all 0.3s ease-out;
}
.div_acesos_r a:hover:after {
    width: 100%;
    transition: width 2s;
}

/*--------------------------------------------NOTICIAS-------------------------------------------------------------------*/
.padre_noticias_in{
  position: relative;
  left: 10%;
  overflow: hidden;
  width: 80%;
}
.padre_noticias_in h2{
    text-align: center;
    position: relative;
    text-transform: uppercase;
    color: #202e31;
    left: 0%;
    width: 100%;
    letter-spacing: -1px;
    word-spacing: 2px;
    font-family: sans-serif;
    margin: 0px;
    font-weight: 800;
    font-size: 25px;

}
.padre_noticias_in p{
    margin: 0px;
    padding: 5px 0px;
    position: relative;
    font-size: 16px;
    color: #a9a9a9;
    text-align: center;
}
.padre_contenido_n_i{
  --tam: -33.3%;
  position: relative;
  left: 0%;
  width: calc(33.3%*5);
  display: flex;
  padding-top: 0;
  animation: cambio_n 20s infinite alternate;
  animation-timing-function: ease-in;
}
@keyframes cambio_n{
  
  30%{margin-left: 0%;}
  35%{margin-left: var(--tam);}

  75%{margin-left: var(--tam);}
  80%{margin-left: calc(var(--tam)*2);}

  100%{margin-left: calc(var(--tam)*2);}
}
.padre_contenido_n_i div{
  padding-top: 0;
  top: 0%;
  left: 0%;
  position: relative;
  height: 22em;
  width: 33.3%;
  border: .1px solid #fff;
  background: rgba(32,46,49);
}
.padre_contenido_n_i div:hover img{
    opacity: 0.4;
    transition: all 0.3s ;
}
.padre_contenido_n_i div:hover section{
    top: 50%;
    height: 50%;
    transition: all 0.5s;
}
.padre_contenido_n_i div:hover span{
   z-index: 1;
    transition: all 0.3s;
}
.padre_contenido_n_i div:hover h6{
  z-index: 10;
  width: 90%;
  transition: width 5s;
}
.padre_contenido_n_i span{
    position: absolute;
    left: 0%;
    width: 100%;
    top: 20%;
    font-size: 70px;
    z-index: 1;
    text-align: center;
    font-family: emoji;
    text-decoration: none;
    color: #fff;
    z-index: -1;
}
.padre_contenido_n_i img{
  position: absolute;
  left: 0%;
  top: 0%;
  height: 75%;
  width: 100%;
  opacity: 0.9;
}
.padre_a_p_noti_i{
  border-top: 7px solid #fdc236;
  top: 55%;
  left: 0%;
  width: 100%;
  height: 45%;
  position: relative;
  z-index: 10;
  background: #fff;
  padding-top: 12px;
}
.padre_a_p_noti_i a{
  text-decoration: none;
}
.padre_a_p_noti_i label,.padre_a_p_noti_i p{
    position: relative;
    left: 2%;
    width: 98%;
    text-align: left;
    overflow: hidden;
    cursor: pointer;
    display: -webkit-box;
}
.padre_a_p_noti_i label{
   font-size: 17px;
    color: #202e31e6;
    text-transform: inherit;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    letter-spacing: -1px;
    /* word-spacing: 1px; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.padre_a_p_noti_i p{
   margin: 2px 0px;
    letter-spacing: 0px;
    /* word-spacing: 2px; */
    font-family: 'Poppins', sans-serif;
    height: 3em;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.padre_contenido_n_i h6{
    color: #fdc236;
    position: absolute;
    top: 86%;
    z-index: 0;
    padding: 0px 0px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    left: 5%;
    width: 30%;
    border-bottom: 1px solid #fdc236;
    text-align: left;
}
/*--------------------------------------------VIDEO-------------------------------------------------------------------*/
.padre_video{
  position: relative;
  left: 0%;
  padding-left: 10%;
  width: 80%;
}
.cuadro_video {
  position: relative;
  left: 0%;
  width: 100%;
  height: 35em;
}
.cuadro_video iframe{
  position: relative;
  left: 0%;
  width: 100%;
  height: 100%;
}



/**--------------------------------------------------RESPONSIVE ---------------------------------------------------------*/
@media screen and (max-width:1150px) {
    .div_p_c{
      display: none;
    }
    .padre_responsive{
    display: flex;
    }
}

@media screen and (max-width:674px) {
    #padre_logo_responsive{
      display: block;
    }
/*---------------------------------------HEADER------------------------------------------------*/

    .padre_llamar_r{
      padding-top: 6%;
      transition: all 0.3s ease-out;
    }
    .p_b_redes_s_otros{
      display: block;
    }
    #pb_otros{
      width: 100%;
      position: relative;
      text-align: center;
      padding-left: 0%;

    }
    #pb_redes_sociales_p{
      font-size: 11px;
    }
    #padre_responsive{
      left: 5%;
      width: 90%;
    }
/*---------------------------------------FOOTER-------------------------------------------------*/
    #padre_footer_tx_fc{
      display: block;
    }
    #footer_texto{
      left: 5%;
      width: 90%;
    }
    #logo_footer_img{
      width: 30%;
      height: 7em;
    }
    #logo_footer h2{
      top: 2px;
    font-size: 17px;
    padding-top: 20px;
    }
    #texto_ft p{
      left: 5%;
      width: 90%;
      top: 5px;
    }
    #iconos_ft h3{
      top:0px; 
      left: 5%;
    }
    #iconos_ft section{
      left: 1%;
    }
    #iconos_ft a{
      top: -30px;
      color: #fff;
      padding: 30px 10px;
    }
    #footer_iframe{
      left: 3%;
      width: 96%;
    }
/*---------------------------------------INICIO-------------------------------------------------*/
    #padre_slider{
      width: 100%;
      height: 20em;
    }
    #s_fraces_h1{
      font-size:30px;
    }
    #padre_noticias_in{
      left: 5%;
      width: 90%;
    }
    #padre_contenido_n_i{
      width: 100%;
      animation: none;
      display: block;
    }
    #padre_contenido_n_i div{    
      width: 100%;
     border: none;
    }
    #padre_contenido_n_i section{
      left: -1px;
      border: 1px solid #fff;
      border-top: 7px solid #fdc236;
    }
    #div_acesos_r{
      flex-wrap: wrap;
    display: inline-flex;
    }
    #div_acesos_r_a{
      width: 45%;
      left: 0%;
    }
    #div_acesos_r_span{
      left: 20%;
    }
/**-----------------------------------NOSOTROS---------------------------------------------------*/
    #padre_historia_img{
      display: block;
      left: 5%;
      width: 90%;
    }
    #padre_img_h{
      width: 100%;
      overflow: hidden;
    }
    #padre_img_h:before{
       right: -70px;
       width: 30%;
       display: none;
    }
    #padre_historia{
      width: 98%;
    }
    #padre_v_m_a{
      left: 5%;
      width: 90%;
    }
    #padre_v_m_a div{
      left: 0%;
      width: 95%;
      margin: 10px 0px;
    }
/**-----------------------------------GALERIA---------------------------------------------------*/
    #padre_galeria{
      padding-left: 5%;
      width: 90%;
    }
    #padre_galeria section{
      left: 0%;
      width: 100%;
    }
  
/*-----------------------------------NOTICIAS---------------------------------------------------*/
    #arriba_noticias{
      display: block;
    }
    #noticia_1,#noticia_2{
      left: 5%;
     width: 90%;
    }
    #padre_noticias{
      left: 5%;
      width: 90%;
    }
    #padre_contenido_not_div{
      width: 100%;
    }
    #padre_contenido_not_div section{
      left: -1px;
      border: 1px solid #fff;
      border-top: 7px solid #fdc236;
    }
/*-----------------------------------DETALLE NOTICIAS---------------------------------------------------*/
    #padre_detalle_noticias_h1{
      left: 5%;
      width: 90%;
    }
    #detalle_not_otras_not{
      display: block;
      left: 5%;
      width: 95%;
    }
    #detalle_not,#otras_not{
      left: 0%;
      width: 100%;
    }
    #otras_not{
      padding-top: 10%;
      width: 95%;
    }
  /*-----------------------------------CONTACTO---------------------------------------------------*/
    #padre_contacto_contenido{
      display: block;
    }
    #contenido_form_contacto{
      left: 0%;
      width: 100%;
    }
    #contenido_form_contacto input ,#contenido_form_contacto textarea{
      width: 100%;
    }
    #contenido_form_contacto::after{
      display: none;
    }
    #contenido_base_contacto{
      left: 5%;
      width: 95%;
    }
    #contenido_base_contacto_dirc_div{
      left: 10%;
    }

}

/*--------------------------------------------------LOAD-----------------------------------------------------------*/
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../git/Loading.gif') 50% 50% no-repeat rgb(249,249,249);
    overflow-x:hidden;overflow-y:hidden;
}

/*-----------------------------------------------CONTACTO--------------------------------------------------------*/
.padre_contacto_mapa{
  margin: 0% 10%;
  position: relative;
  /*box-shadow: 0px 0px 20px 1px #0000002b;*/
}
.padre_contacto_mapa h2{
     position: relative;
    text-transform: uppercase;
    padding: 15px 0px;
    top: 0%;
    color: #202e31;
    left: 0%;
    width: 100%;
    letter-spacing: -1px;
    word-spacing: 2px;
    font-family: sans-serif;
    margin: 0px;
    font-weight: 800;
}
.padre_contacto_contenido{
   position: relative;
    height: auto;
    width: 80%;
    left: 0%;
    padding-left: 10%;
    display: flex;
}
.contenido_form_contacto{
  left: 0%;
  position: relative;
  width: 60%;
}
.contenido_form_contacto div{
    position: relative;
    display: flex;
    margin: 30px 0px;
    top: -10px;
}
.contenido_form_contacto input,.contenido_form_contacto textarea{
     position: relative;
    padding-left: 2%;
    left: 0%;
    width: 85%;
    height: 35px;
    font-size: 14px;
    color: #404040;
    border: 1px solid #CCC;
    border-radius: 4px;
}

.contenido_form_contacto input::placeholder ,.contenido_form_contacto textarea::placeholder{
    color: #b7b7b7;
}
.contenido_form_contacto input:focus,.contenido_form_contacto textarea:focus{
  border:1px solid  rgb(32 46 49);
  outline:0px;
  transition: 1s border;
}
.contenido_form_contacto textarea{
  height: 120px;
}
#label_mensaje_contacto{
  top: -115px;
}
#enviar_contacto{
  cursor: pointer;
    width: 25%;
    background:#202e31;
    color: #fff;
    left: 0%;
    border: 1px solid #ccc0;
    border-radius: 1px;
}
#enviar_contacto:hover{
  background: #fff;
  color: #202e31;
  border-top: 1px solid  #202e31;
  border-right: 1px solid  #202e31;
  border-left: 1px solid  #202e31;
  transition: all 0.5s;
}
.contenido_form_contacto::after{
  content: '';
    position: absolute;
    background-color: #202e31;
    width: 166%;
    left: 0%;
    height: 1px;
    top: 99.7%;
}
.contenido_base_contacto{
  position: relative;
  left: 5%;
  width:30%;
}
.contenido_base_contacto div{
  position: relative;
  display: flex;
  padding-top: 10%;
  top: -4%;
}
.contenido_base_contacto_dirc_div{
  left: 45%;
}
.contenido_base_contacto section{
  position: relative;
}
.contenido_base_contacto_icono{
  left: 0%;
  width: 30%;
}
.contenido_base_contacto samp{
  position: relative;
  border-radius: 50px;
  top: 20%;
  padding: 11px 16px;
  font-size: 50px;
  background: #fff;
  border: 2px solid #fdc236;
}
.contenido_base_contacto span{
  top: 5px;
  position: relative;
  color: #fdc236;
}
.contenido_base_contacto div:hover samp{
  background: #fdc236;
  transition: all 0.5s;
}
.contenido_base_contacto div:hover span{
  color: #fff;
  transition: all 0.5s;
}
.contenido_base_contacto_datos{
  position: relative;
}
.contenido_base_contacto_datos h4{
 font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3;
    color: #424242;
    margin: 0;
    top: 20px;
    padding: 10px 0px;
    position: relative;
    vertical-align: middle;
}
.contenido_base_contacto p {
        font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 19px;
}