 .padre_intro{
 	position: relative;
 	left: 0%;
 	width: 100%; 
 	height: auto;
 	height: 15em;
 	overflow: hidden;
 	background:rgba(32,46,49); 
 	display: block;

 }
 .padre_intro h1,.padre_intro h3{
 	top: 20%;
 	left: 0%;
 	width: 100%;
 	text-align: center;
 	font-size: 30px;
 	color: #fff;
 	z-index: 1;
 	position:relative;
 	line-height: 2em;
 	font-family: 'Poppins', sans-serif;
 }
 .padre_intro h3{
 	top: 10%;
 	line-height: 22px;
 	font-weight: 400;
 	font-size: 15px;
 }
 .padre_intro img{
	top: -100%;
    position: absolute;
    width: 100%;
    height: 340%;
    background: rgba(32,46,49,0.85);
    opacity: 0.3;
 }

.auto_container {
    position: relative;
    width: 80%;
    left: 10%;
}
.breadcrumb{
	position: relative;
	left: 0%;
	margin: 0;
	padding: 0;
}
.breadcrumb li,.breadcrumb li a {
    color: #b7b7b7;
    font-size: 12px;
    padding: 0;
    text-transform: uppercase;
    display: inline-block;
    list-style: none;
    text-decoration: none;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}


/*---------------------------------------------HISTORIA------------------------------------------*/
.padre_historia_img{
	position: relative;
	left: 10%;
	width: 80%;
	display: flex;
}
.padre_img_h{
    padding-top: 12%;
	position: relative;
	left: 0%;
	width: 55%;
	height:25em;
    overflow: hidden;
}
.padre_img_h img{
	position: relative;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}
.padre_img_h:before{
    content: '';
    position: absolute;
    width: 24%;
    height: 100%;
    top: 0px;
    right: -80px;
    background: #fff;
    -webkit-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    -o-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    transform: skewX(-15deg);
    z-index: 1;
}
/*.padre_img_h:before{
   content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 3%;
    right: -2%;
    background: #c0392b;
}*/
.padre_historia{
	left:0%;
	width: 45%;
	position: relative;
	z-index: 2;
	
}
.padre_historia h2{
    padding: 15px 0px;
    left: 5%;
    width: 95%;
    position: relative;
    text-transform: uppercase;
    top: 0%;
    color: #202e31;
    letter-spacing: -1px;
    word-spacing: 2px;
    font-family: sans-serif;
    margin: 0px;
    font-weight: 800;
    font-size: 23px;
    border-bottom: 1px solid #e0e0e0;
}
.padre_historia p{
	left: 5%;
    text-align: justify;
    width: 95%;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #999999;
    line-height: 1.5em;
   
}
.padre_v_m_a{
	padding-top: 2%;
	position: relative;
	background: #c0392b;
	background: #202e31;
	left: 10%;
	width: 80%;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
    display: inline-flex
}
.padre_v_m_a img{
	position: absolute;
    top: 0%;
    height: 100%;
    left: 0%;
    width: 100%;
    opacity: 0.1;
}
.padre_v_m_a div{
    margin: 10px 20px;
    width: 45%;
    position: relative;
    left: 0%;
}
.padre_v_m_a h1,.padre_v_m_a p{
	left: 5%;
	width: 95%;
	position: relative;
}
.padre_v_m_a h1{
	color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
	position: relative;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    background: none;
    line-height: 1.6em;
}
.padre_v_m_a p{
	text-align: justify;
	font-family: 'Roboto', sans-serif;
	color:#a8b1b3;
	/*color: #dcafaf;*/
    font-size: 15px;
    line-height: 1.5em;
}