.padre_galeria{
	position: relative;
	flex-wrap: wrap;
  	display: inline-flex;
  	padding-left: 10%;
  	width: 80%;
}
.padre_galeria section{
	position: relative;
	top: -10px;
	left: -1%;
	width: 32%;
	/*width: 24%;*/ 
	height: 15em;
	/*height: 12em;*/
	padding-left: 1%;
	padding-top: 2%;
}
.padre_galeria a{
	position: relative;
	text-decoration: none;
	width: 100%;
	height: 100%;
}
.padre_galeria img{
	position: relative;
	height: 100%;
	width: 100%;
	border-radius: 2px;
	/*border-radius: 4px;*/
}
.padre_galeria p{
	position: absolute;
    left: 4%;
    width: 88%;
    height: 1.7em;
    top: -120%;
    margin: 0;
    font-size: 15px;
    color: #fff;
    padding: 0;
    font-weight: 700;
    padding-top: 1%;
    text-align: center;
    background: #fdc236bf;
    z-index: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}
.padre_galeria section:hover img{
	left: -1%;
	top: -1%;
	height: 102%;
	width: 102%;
	transition: all 0.5s;
}
.padre_galeria section:hover p{
	z-index: 1;
	transition: all 0.5s;
}