.arriba_noticias{
	position: relative;
	left: 0%;
	width: 100%;
	display: flex;
}
.principal_text{
    position: relative;
    top: -4px;
    border-top: 10px solid #fdc236;
} 
.noticia_1{
	position: relative;
	left: 10%;
	width: 45%;
}
.noticia_1 a,.noticia_2 a{
	text-decoration: none;
	left: 0%;
	width: 100%;
	position: relative;
}
.noticia_1 img{
	position: relative;
	left: 0%;
	width: 100%;
	height: 21em;
}
.noticia_1 h2,.noticia_2 h2{
	color: #202e31;
    font-family: 'Arial Black', Gadget, sans-serif;
    line-height: 2rem;
    font-size: 29px;
    overflow: hidden;
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: 0;
    margin-top: 15px;
    left: 0%;
    position: relative;
    width: 100%;
}

.noticia_1 p,.noticia_2 p{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #606066;
    text-align: left;
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    position: relative;
    left: 0%;
    width: 100%;
    padding: 0;
    margin: 15px 0px;
     left: 0%;
    position: relative;
    width: 100%;
}
.noticia_2 p{
	font-size: 18px;
	-webkit-line-clamp: 3;
}
.noticia_1:hover h2,.noticia_2:hover h2{
	text-decoration: underline;
	transition: all 1s;
}
.noticia_2{
	position: relative;
	left: 11%;
	width: 33%;
}
.noticia_2 img{
	position: relative;
	left: 0%;
	width: 100%;
	height: 15em;
}
.noticia_2 h2{
	font-size: 20px;
	-webkit-line-clamp: 3;
	line-height: 1.5rem;
}
/*--------------------------------------------NOTICIAS-------------------------------------------------------------------*/
.padre_noticias{
  position: relative;
  left: 10%;
  width: 80%;
}
.padre_noticias h2{
      position: relative;
    text-transform: uppercase;
    padding: 15px 0px;
    top: 0%;
    color: #202e31;
    left: 0%;
    width: 100%;
    letter-spacing: -1px;
    word-spacing: 2px;
    font-family: sans-serif;
    margin: 0px;
    font-weight: 800;
    font-size: 23px;
    border-bottom: 1px solid #e0e0e0;

}

.padre_noticias p{
    margin: 0px;
    padding: 5px 0px;
    position: relative;
    font-size: 16px;
    color: #a9a9a9;
    text-align: left;
}
.padre_contenido_not{
  position: relative;
  left: 0%;
  width: 100%;
  display: flex;
  padding-top: 0;
  flex-wrap: wrap;
  display: inline-flex;
}
.padre_contenido_not div{
  padding-top: 0;
  top: 0%;
  left: 0%;
  position: relative;
  height: 22em;
  width: 33.1%;
  border: .1px solid #fff;
  background: rgba(32,46,49);
}
.padre_contenido_not div:hover img{
    opacity: 0.4;
    transition: all 0.3s ;
}
.padre_contenido_not div:hover section{
    top: 50%;
    height: 50%;
    transition: all 0.5s;
}
.padre_contenido_not div:hover span{
   z-index: 1;
    transition: all 0.3s;
}
.padre_contenido_not div:hover h6{
  z-index: 10;
  width: 90%;
  transition: width 5s;
}
.padre_contenido_not span{
    position: absolute;
    left: 0%;
    width: 100%;
    top: 20%;
    font-size: 70px;
    z-index: 1;
    text-align: center;
    font-family: emoji;
    text-decoration: none;
    color: #fff;
    z-index: -1;
}
.padre_contenido_not img{
  position: absolute;
  left: 0%;
  top: 0%;
  height: 75%;
  width: 100%;
  opacity: 0.9;
}

.padre_contenido_not h6{
    color: #fdc236;
    position: absolute;
    top: 86%;
    z-index: 0;
    padding: 0px 0px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    left: 5%;
    width: 30%;
    border-bottom: 1px solid #fdc236;
    text-align: left;
}

/*-------------------------------------------PAGINACION-----------------------------------------------------------------*/
.paginacion{
	text-align: center;
	display: flex;
	position: relative;
	justify-content: center;
}
.paginacion_a{
	margin-left: 3px;
	box-shadow: 0px 1px 1px 0px #202e316e;
    border-left: 1px solid #0000002b;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 14px;
    color: #0000009e;
    font-weight: bold;
    border-radius: 2px;
}
.paginacion_a:hover{
	background: #fdc236;
	color: #fff;
	transition:background 1s;
}
.color_pagina{
	background: #fdc236;
	color: #fff;
}
.disable{
	cursor: no-drop;
	opacity: 0.4;
	pointer-events: none;
}

/*----------------------------------DESTALLE---------------NOTICIAS------------------------------------------------*/
.padre_detalle_noticias{
	position: relative;
	left: 0%;
	width: 100%;
}
.padre_detalle_noticias h1{
	color: #202e31;
    font-family: 'Muli', sans-serif;
    line-height: 2.6rem;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0;
    margin-top: 15px;
    left: 10%;
    position: relative;
    width: 75%;
}
.padre_detalle_noticias p{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #606066;
    text-align: justify;
    font-size: 18px;
    cursor: pointer;
    left: 0%;
    width: 100%;
    padding: 0;
    margin: 15px 0px;
    left: 0%;
    position: relative;
    width: 95%;
}
.detalle_not_otras_not{
	position: relative;
	display: flex;
	left: 10%;
	width: 80%;
}
.detalle_not{
	position: relative;
	left: 0%;
	width: 70%;
}
.detalle_not img{
	position: relative;
	width: 95%;
	height: 28em;
}
.fecha_d_not{
	position: relative;
	left: 0%;
	width: 95%;
	display: flex;
}
.fecha_d_not h3{
	color: #fdc236;
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    left: 0%;
    position: relative;
}
.fecha_d_not h5{
	color: #8a8a8a;
	position: absolute;
    right: 1%;
    margin: 0;
}
/*---------------------------------OTRAS NOTICIAS-----------------------------------------------------------*/
.otras_not{
	position: relative;
	left: 0%;
	width: 30%;
	height: auto;
	background: #fff;
}
.otras_not section{
	position: relative;
    background: #fdc236;
    color: #fff;
    font-family: revert;
    padding: 4% 5%;
}
.otras_not a{
	text-decoration: none;
}
.otras_not a:hover{
	text-decoration: underline;
}
.otras_not div{
	position: relative;
	display: flex;
	overflow: hidden;
	border: 1px solid #fff;
	margin: 10px 0px;
}
.otras_not img{
    position: relative;
    left: 5%;
    width: 50%;
    height: 7em;
}
.otras_not h2{
	position: relative;
	left: 10%;
	width: 35%;
	top: 12px;
	color: #202e31;
    font-family: revert;
    line-height: 1.3em;
    font-size: 16px;
    overflow: hidden;
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin: 0;
}
/*---------------------------------OTRAS NOTICIAS-----------------------------------------------------------*/
.subir_d_plan_trabajo {
   position: relative;
    left: 7px;
    top: 7em;
    height: 50px;
    padding: 13px 35px;
    border-radius: 2px;
    cursor: pointer;
    color: #007bff;
    background: #fff;
    font-weight: bold;
    border: 1px solid #e0e0e0;
    font-size: 13px;
    margin: 0;
}
.upload_d {
    top: 0%;
    left: 12%;
    height: 100%;
    width: 100%;
    position: absolute;
    font-size: 1px;
    background: red;
    cursor: pointer;
    opacity: 0;
}
.subir_d_plan_trabajo:hover {
    color: #fff;
    background: #0c65c5;
    border: 1px solid #0c65c5;
}
/*-----------------------------------------------------*/

 .preview{
    position: relative;
    height: 13em;
    width: 40%;
    left: 10%;
    background: #dcd8e0c2;
 }
 .preview img{
    left: 0%;
    position: relative;
    height: 100%;
    width: 100%;
 }
